#Policy {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.containerpolicy {
  width: 90%;
  display: block;
  margin: 20rem 80px 0 auto;
  background-color: rgb(255, 255, 255);
}
#Policy h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* Policy Section */
#Policy .title {
  margin-bottom: 5rem;
  color: rgb(196, 194, 194);
  letter-spacing: 1px;
  font-size: 20px;
  background-color: #266ab8;
}
#Policy .PrivacyP {
  padding-left: 10px;
  padding-right: 5px;
}
#Policy .Subtitle {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: crimson;
  letter-spacing: 0.5px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 5px;
}
#Policy .title span {
  font-style: italic;
  font-size: 35px;
}
#Policy .PolicyP {
  margin-bottom: 10px;
  margin-left: 10px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 5px;
}

/* End Policy Section */
