#category{
    background-image: url(./images/soft.jpg);
    max-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.spor-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}
.title{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}
.events{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    grid-gap: 20px 20px;
    margin: 3% 10% 2% 5%;
}
.event{
    display: flex;
    flex-direction: column;
}

.event-image{
    display: flex;
}
.event-image a{
    max-height: 30rem;
}

.event-text{
    display: flex;
    font-size: 30px;
}

.img-event{
    width: 100%;
    object-fit: fill;
    height: 15rem;
}