@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
::selection {
  background: gray;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 4rem;
  color: white;
}
.logo h1 span {
  font-size: 5rem;
  color: #1b73bb;
}
/* Header Section*/
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 7vh;
  background-color: rgba(43, 43, 43, 0.24);
  transition: 0.5s ease background-color;
}
.header .logo {
  margin-left: 4rem;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
#header .navlist ul {
  list-style: none;
  position: absolute;
  background-color: rgb(25, 25, 25);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease left;
}
#header .navlist ul.active {
  left: 0%;
}
#header .navlist ul a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  padding: 6px;
  display: block;
}
#header .hb {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;

  margin: 8px 5px;
}
#header .hb .bar {
  height: 2px;
  width: 25px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .searchbar input[type="text"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: none;
  margin-top: 7px;
  border-radius: 25px;
  width: 200px;
  opacity: 0.6;
  text-align: center;
}

/* End Header Section */
/* Welcome Section */
#welcome {
  background-image: url(./images/concert_performance_smoke_136716_3840x2160.jpg);
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#welcome::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
#welcome .welcome {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#welcome h1 {
  display: block;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: transparent;
  animation: text_showback 0.5s ease forwards;
  animation-delay: 1s;
}
#welcome h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(24, 24, 172);
  animation: text_display 1s ease;
  animation-delay: 0.5s;
}
#welcome h3 {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: transparent;
  animation: text_showback 1.5s ease forwards;
  animation-delay: 1.5s;
}
#welcome h3 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(24, 24, 172);
  animation: text_display 1s ease;
  animation-delay: 1s;
}
.cta {
  background-position: center;
  transition: background 0.8s;
}
#welcome .cta:hover {
  background-image: linear-gradient(60deg, #18416f 40%, #18416f 85%);
}

#welcome .cta:active {
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  background-size: 100%;
  transition: background 0s;
}
#welcome .cta {
  border: none;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  border-radius: 1.1875rem;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
/* End Welcome Section */

/* Category Section */
/* #category {
}
#category .category {
  flex-direction: column;
  text-align:start;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#category .section-title span {
  color: crimson;
}
#category .category-top p {
  text-align: start;
  font: size 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
#category .category-bottom {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-flow: column wrap;
}
#category .category-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./images/m-4_M8uIfPEZw-unsplash.jpg);
  background-size: cover;
  margin: 10px 5%;
} */
/* Footer */
#footer {
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
}
.footer > * {
  flex: 1 100%;
}
.footerleft {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}
#footer h2 {
  font-size: 2rem;
}
#footer ul {
  list-style: none;
  padding-left: 0;
}
#footer li {
  line-height: 2em;
  margin: 2em 0;
}
#footer li a {
  font-size: 1.5rem;
  display: block;
}
.footerright {
  display: flex;
  flex-flow: row wrap;
}
.footerright > * {
  flex: 1 50%;
  margin-right: 1.5rem;
}
.box a {
  color: #999;
}
.footerleft p {
  padding-right: 20%;
}
.footerbottom {
  text-align: center;
  padding-top: 50px;
  margin-top: 15rem;
}
.footerleft p {
  padding-right: 20%;
}
#footer .socialmedia {
  display: flex;
  margin: 20px;

}
#footer .socialitem img {
  filter: grayscale(1);
  transition: 0.5s ease filter;
}
#footer .socialitem:hover img {
  filter: grayscale(0);
}
#footer p {
  font-size: 1.5rem;
}
.footerright ul li a:hover {
  color: #570909;
}
/* End Footer */
/* keyframes */
@keyframes text_display {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_showback {
  100% {
    color: white;
  }
}

@media only screen and (min-width: 1200px) {
  #header .hb {
    display: none;
  }
  #header .navlist ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .navlist ul li {
    display: inline-block;
  }
  #header .navlist ul li a {
    font-size: 1.5rem;
  }
  #header .navlist ul li a:hover {
    background-color: rgba(43, 43, 43, 0.4);
    border-radius: 20%;
  }
  #header .entrance {
    background-color: #1b73bb;
    border-radius: 5%;
  }
  .footerright > * {
    flex: 1;
  }
  .footerleft {
    flex: 1 0px;
  }
  .footerright {
    flex: 2 0px;
  }
}
