@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
::selection {
  background: gray;
}

ul {
  list-style-type: none;
}
.logo h1 {
  font-size: 4rem;
  color: white;
}
.logo h1 span {
  font-size: 5rem;
  color: #1b73bb;
}
/* Header Section*/
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 7vh;
  background-color: #22395c;
}
.header .logo {
  margin-left: 4rem;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
#header .navlist ul {
  list-style: none;
  position: absolute;
  background-color: rgb(25, 25, 25);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease left;
}
#header .navlist ul.active {
  left: 0%;
}
#header .navlist ul a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  padding: 6px;
  display: block;
}
#header .hb {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;

  margin: 8px 5px;
}
#header .hb .bar {
  height: 2px;
  width: 25px;
  position: relative;
  background-color: white;
  z-index: -1;
}
input[type="text"] {
  width: 300px;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  background-color: rgba(43, 43, 43, 0.24);
  background-image: url("./images/icons8-search-40\ \(1\).png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 400px;
  color: white;
}
/* End Header Section */
/* User Agreement Section */

#Useragreement {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.containeragreement {
  margin-top: 10rem;
  padding-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
#Useragreement h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(196, 194, 194);
  letter-spacing: 0.5px;
  font-size: 30px;
}
#Useragreement h3 {
  letter-spacing: 0.5px;
  font-size: 18px;
  color: #142744;
}
#Useragreement p {
  letter-spacing: 0.3px;
  padding: 5px;
}
#Useragreement .listA {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#Useragreement .title {
  background-color: #266ab8;
  padding: 20px;
}
/* End User Agreement Section */
/* Footer */
#footer {
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
}
.footer > * {
  flex: 1 100%;
}
.footerleft {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}
#footer h2 {
  font-size: 2rem;
}
#footer ul {
  list-style: none;
  padding-left: 0;
}
#footer li {
  line-height: 2em;
  margin: 2em 0;
}
#footer li a {
  font-size: 1.5rem;
  display: block;
}
.footerright {
  display: flex;
  flex-flow: row wrap;
}
.footerright > * {
  flex: 1 50%;
  margin-right: 1.5rem;
}
.box a {
  color: #999;
}
.footerleft p {
  padding-right: 20%;
}
.footerbottom {
  text-align: center;
  padding-top: 50px;
  margin-top: 15rem;
}
.footerleft p {
  padding-right: 20%;
}
#footer .socialmedia {
  display: flex;
  margin: 20px;
}
#footer .socialitem img {
  filter: grayscale(1);
  transition: 0.5s ease filter;
}
#footer .socialitem:hover img {
  filter: grayscale(0);
}
#footer p {
  font-size: 1rem;
  letter-spacing: 1px;
}
.footerright ul li a:hover {
  color: #570909;
}
/* End Footer */
/* keyframes */
@keyframes text_display {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_showback {
  100% {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .footerright > * {
    flex: 1;
  }
  .footerleft {
    flex: 1 0px;
  }
  .footerright {
    flex: 2 0px;
  }
}
@media screen and (min-width: 1200px) {
  #header .hb {
    display: none;
  }
  #header .navlist ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .navlist ul li {
    display: inline-block;
  }
  #header .navlist ul li a {
    font-size: 1.5rem;
  }
  #header .navlist ul li a:hover {
    background-color: rgba(43, 43, 43, 0.4);
    border-radius: 20%;
  }
  #header .entrance {
    background-color: #1b73bb;
    border-radius: 5%;
  }
}
