<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="aboutus.css">
  <link rel="stylesheet" href="footernavbarwotransition.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>About-Us</title>
</head>

<body>
  <section id="header">
    <div class="header container">
      <div class="navbar">
        <div class="logo">
          <a href="/">
            <h1><span>S</span>noll</h1>
          </a>
        </div>
        <div class="searchbar">
          <form method="POST" action="/filterEvent/searchbar">
            <input type="search" name="EventName" placeholder="Etkinlik Ara">
          </form>
        </div>
        <div class="navlist">
          <div class="hb">
            <div class="bar"></div>
          </div>
          <ul>

            <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <% if(loginn){ %>
              <% if(adminn){ %>
                <li class="entrance" style="margin-right:20px ;"><a href="/adminMain">Admin</a></li>
                <% } if(ownerr){ %>
                <li class="entrance" style="margin-right:20px ;"><a href="/ownerMain">Owner</a></li>
                <% } %>
            <li class="entrance" style="margin-right:20px ;"><a href="/myCart"><i class="fas fa-shopping-cart">
                  Sepetim</i></a> </li>
            <li class="entrance" style="margin-right:20px ; "><a href="/profile">Profilim</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/logout">Çıkış Yap</a></li>
            <% } else{ %>
            <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
            <% } %>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  <!-- About-Us -->
  <section id="Aboutus">
    <div class="containeraboutus">
      <div class="leftpart">
        <div class="content">
          <div class="title">
            <h2>Hakkımızda</h2>
            <h3>Tüm Türkiye’de aktif bir biçimde etkinliklerin yayınlandığı, etkinlik sahibi olanların etkinlik
              oluşturabileceği ve işletmelerin kendi sayfaların da aktivitelerini duyururken,
              raporlarını görüntüleyebileceği, biletlerini satabileceği bir etkinlik platformudur.Bazen aklına bir
              etkinlik fikri gelir, gerçekleştirmek istersin, her türlü imkanı bir şekilde çözümlersin fakat senin gibi
              düşünenlere ulaşabilmek; işte bu kısım gerçekten zor. Snoll tamamen bunu amaçlar. Günün her saati,
              istediğin yerde, istediğin ücret aralığındaki etkinliklere kolayca ulaşabilmen ve hatta oluşturabilmen
              için yanındayız.
              Hadi şimdi sende katıl ve SNOLL'un eşsiz özelliklerinden faydalan.
            </h3>
          </div>
          <p>
            "Türkiye'nin eğlenceye giriş noktası" olarak 2000 yılından beri eğlence ve sanat tutkunları etkinliklerle
            buluşturan SNOLL:
            Live Nation Entertainment çatısı altında Kuzey Amerika, Avrupa ve Ortadoğu başta olmak üzere 21 ülkede
            faaliyet gösteren dünyanın lider biletleme
            firması Ticketmaster Ailesi'nin bir üyesidir.SNOLL, kurulduğu günden bu yana eğlence tutkunlarına sadece
            bilet satmanın ötesine geçerek,
            müşterilerine yeni deneyimler yaşatan bir platforma dönüşmüştür. Teknolojik yatırımları ve know-how’ıyla
            Türkiye’de eğlence sektörünün genişlemesinde yoğun emeği geçen aktörlerin başında yer alan Snoll; yılda
            ortalama 600’ün üzerinde etkinlik organizatörü tarafından düzenlenen 13.000’den fazla etkinlik için toplam
            değeri 80 milyon USD’ın üzerinde; yaklaşık 3,5 milyon adet bilet satışı gerçekleştirmektedir.
          </p>
          <div class="socialmedia">

            <a href="https://tr-tr.facebook.com"><img
                src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
            <a href="https://twitter.com"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
            <a href="https://www.instagram.com/?hl=tr"><img
                src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>

          </div>
        </div>
      </div>
      <div class="imagepart">
        <img src="./images/Snoll.png">

      </div>
    </div>
  </section>
  <!-- End About-Us -->
  <!-- Footer -->
  <section id="footer">
    <div class="footerleft">
      <a href="/">
        <h1 style="color:white; font-size: 3rem;"><span style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll
        </h1>
      </a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat consequuntur
        vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum quaerat est.
        Velit, nostrum quae officia odio veniam animi
        exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
      <div class="socialmedia">
        <div class="socialitem">
          <a href="https://tr-tr.facebook.com"><img
              src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
        </div>
        <div class="socialitem">
          <a href="https://twitter.com"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
        </div>
        <div class="socialitem">
          <a href="https://www.instagram.com/?hl=tr"><img
              src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
        </div>
      </div>
    </div>
    <ul class="footerright">
      <li>
        <h2>Kurumsal</h2>
        <ul class="box">
          <li><a href="/aboutus">Hakkımızda</a></li>
          <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
          <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
          <li><a href="/contactus">İletişim&Kariyer</a></li>
        </ul>
      </li>
      <li class="Find">
        <h2>Keşfet</h2>
        <ul class="box hbox">
          <li><a href="/events">Etkinlikler</a></li>
          <li><a href="/category">Kategoriler</a></li>
          <li><a href="/cityguide">Şehirler</a></li>
        </ul>
      </li>

    </ul>


    <div class="footerbottom">
      <p>Copyright © 2020 Snoll</p>
    </div>
  </section>
  <!-- End Footer Section -->
  <script src="/hb.js"></script>
</body>

</html>