<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#ad1a00">Hata</h2>
        <h3>Sayın, <%=email%>  </h3>
        <p style="font-size:20px;color:#5C5C5C;">Eklemeye çalıştığınız etkinlik halihazırda sepetinizde mevcut lütfen başka etkinlik seçiniz ya da sepetinizden satın alma işleminizi tamamlayınız</p>
        <a href="/events" class="btn btn-success">  Etkinlikler </a>
        <a href="/myCart" class="btn btn-success">  Sepetim </a>

    <br><br>
        </div>
        
	</div>
</div>