<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footernavbar.css">
    <link rel="stylesheet" href="category.css">
    <title>Website</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html">
                        <h1><span>S</span>noll</h1>
                    </a>
                </div>
                <div class="searchbar">
                    <input type="search" placeholder="Etkinlik Ara">
                </div>
                <div class="navlist">
                    <div class="hb">
                        <div class="bar"></div>
                    </div>
                    <ul>

                        <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <% if(loginn){ %> 
            <li class="entrance" style="margin-right:20px ; "><a href="/login">Profilim</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/logout">Çıkış Yap</a></li>
            <% } else{ %>
            <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
             <% } %>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
    <!-- Upcoming Events Section  -->
    <section id="upcomingevents">
        <div class="arama">
        <h1 class="başlık" >Yaklaşan Etkinlikler</h1>
        <div class="yaklaşan">
            <div class="event-image">
            <a href="#" class="img-events"><img src="images/manga2.png"></a>
        </div>
        <div class="event-image">
            <a href="#" class="img-events"><img src="images/IT.png"></a>
        </div>
        <div class="event-image">
            <a href="#" class="img-events"><img src="images/arkadaş.png"></a>
        </div>
        <div class="event-image">
            <a href="#" class="img-events"><img src="images/anadoluefes.png"></a>
        </div>
        </div>
    </div>
    </div>
        <div class="upcomingevents container slider">
        </div>
    </section>
    <!-- End Upcoming Events Section  -->
    <!-- Category Section -->
    <section id="category">
        <div class="category container2">
            <div class="genelaktivite"> 
                <div class="aktivite">
                <a href="tiyatro.html" style="width: 100%;"><img src="images/tiyatro.png" style="width: 100%; object-fit: cover;"></a>
                <p class="resimWrite" style="color: white;">Tiyatro</p>
            </div>
            <div class="aktivite">
                <a href="müzik.html" style="width: 100%;"><img src="images/müzik.png" style="width: 100%; object-fit: cover;"></a>
                <p class="resimWrite" style="color: white;">Müzik</p>
            </div>
            <div class="aktivite">
                <a href="teknoloji.html" style="width: 100%;"><img src="images/teknoloji.png" style="height: 75%; width: 100%; object-fit: cover;"></a>
                <p class="resimWrite" style="color: white;">Teknoloji</p>
            </div>
            <div class="aktivite">
                <a href="spor.html" style="width: 100%;"><img src="images/spor.jpg" style="width: 100%; object-fit: cover;"></a>
                <p class="resimWrite" style="color: white;">Spor</p>
        </div>
    </div>
        </div>
    </section>
    <!-- End Category Section -->
    <!-- Footer -->
    <section id="footer">
        <div class="footerleft">
            <a href="index.html">
                <h1 style="color:white; font-size: 3rem;"><span
                        style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll</h1>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat
                consequuntur
                vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum
                quaerat est.
                Velit, nostrum quae officia odio veniam animi
                exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
            <div class="socialmedia">
                <div class="socialitem">
                    <a href="https://tr-tr.facebook.com"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
                </div>
                <div class="socialitem">
                    <a href="https://twitter.com"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
                </div>
                <div class="socialitem">
                    <a href="https://www.instagram.com/?hl=tr"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
                </div>
            </div>
        </div>
        <ul class="footerright">
            <li>
                <h2>Kurumsal</h2>
                <ul class="box">
                  <li><a href="/aboutus">Hakkımızda</a></li>
                  <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
                  <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
                  <li><a href="/contactus">İletişim&Kariyer</a></li>
                </ul>
              </li>
              <li class="Find">
                <h2>Keşfet</h2>
                <ul class="box hbox">
                  <li><a href="/events">Etkinlikler</a></li>
                  <li><a href="/category">Kategoriler</a></li>
                  <li><a href="/cityguide">Şehirler</a></li>
                </ul>
              </li>

        </ul>


        <div class="footerbottom">
            <p>Copyright © 2020 Snoll</p>
        </div>
    </section>
    <!-- End Footer Section -->
    <script src="/hb.js"></script>
</body>

</html>