<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="contactus.css">
  <link rel="stylesheet" href="footernavbar.css">
  <title>Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="navbar">
        <div class="logo">
          <a href="/">
            <h1><span>S</span>noll</h1>
          </a>
        </div>
        <div class="searchbar">
          <form method="POST" action="/filterEvent/event">
          <input type="search" name="EventName" placeholder="Etkinlik Ara">
      </form>
      </div>
        <div class="navlist">
          <div class="hb">
            <div class="bar"></div>
          </div>
          <ul>

            <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <% if(loginn){ %> 
              <li class="entrance" style="margin-right:20px ; "><a href="/profile">Profilim</a></li>
              <li class="entrance" style="margin-right:20px ;"><a href="/logout">Çıkış Yap</a></li>
              <% } else{ %>
              <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
              <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  <!-- MidPage Section -->
  <section id="contact">
    <div class="content">
        <h2>Bize ilet</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, asperiores?</p>
    </div>
  <div class="container2">
      <div class="contactInfo">
          <div class="boxc">
              <div class="icon"><img src="https://img.icons8.com/dusk/32/000000/map.png"/></div>
              <div class="text">
                  <h3>Adres</h3>
                  <p>Lorem ipsum dolor sit. <br> 55066 <br> Lorem ipsum dolor sit amet consectetur. </p>
              </div>
          </div>
          <div class="boxc">
            <div class="icon"><img src="https://img.icons8.com/dusk/32/000000/phone.png"/></div>
            <div class="text">
                <h3>Telefon</h3>
                 <p>0555 555 55 55</p>
            </div>
        </div>
        <div class="boxc">
            <div class="icon"><img src="https://img.icons8.com/bubbles/40/000000/apple-mail.png"/></div>
            <div class="text">
                <h3>Email</h3>
                 <p>snoll@outlook.com</p>
            </div>
        </div>
      </div>
      <div class="contactForm">
          <form class="form-part" action="/auth/contactus" method="POST" >
              <h2>Mesaj Gönder</h2>
              <div class="inputBox">
                  <input type="text" name= "nameS" required="required">
                  <span>Ad-Soyad</span>
              </div>
              <div class="inputBox">
                <input type="text" name= "contactmail" required="required">
                <span>Email</span>
            </div>
            <div class="inputBox">
                <textarea required="required"></textarea>
                <span>Mesajını Yaz</span>
            </div>
            <div class="inputBox">
                <input class="button" type="submit" name="" value="Mesaj Gönder">
            </div>

          </form>
      </div>
  </div>
    
  </section>
  <!-- End MidPage Section -->
  <!-- Footer -->
  <section id="footer">
    <div class="footerleft">
      <a href="/">
        <h1 style="color:white; font-size: 3rem;"><span style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll
        </h1>
      </a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat consequuntur
        vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum quaerat est.
        Velit, nostrum quae officia odio veniam animi
        exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
      <div class="socialmedia">
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
        </div>
      </div>
    </div>
    <ul class="footerright">
      <li>
          <h2>Kurumsal</h2>
          <ul class="box">
            <li><a href="/aboutus">Hakkımızda</a></li>
            <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
            <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
            <li><a href="/contactus">İletişim&Kariyer</a></li>
          </ul>
        </li>
        <li class="Find">
          <h2>Keşfet</h2>
          <ul class="box hbox">
            <li><a href="/events">Etkinlikler</a></li>
            <li><a href="/category">Kategoriler</a></li>
            <li><a href="/cityguide">Şehirler</a></li>
          </ul>
        </li>

  </ul>


    <div class="footerbottom">
      <p>Copyright © 2020 Snoll</p>
    </div>
  </section>
  <!-- End Footer Section -->
  <script src="/hb.js"></script>
</body>

</html>