<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <nav>
       <h4>Node MySQL</h4>
       {{!-- <h1>{{id}}</h1> --}}
       <h1>{{email}}</h1>
       {{#if loginn}}
       <ul>
           <li><a href="/">Mert</a></li>
           <li><a href="/login">Berkan</a></li>
           <li><a href="/register">Akdeniz</a></li>
       </ul>
       {{else}}
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/register">Register</a></li>
       </ul>
       {{/if}}
       
   </nav>
        <h2>Welcome to Dashboard</h2>
        
        <p><b>Login Email</b> {{id}}</p>
    
        <p><a href="/">Logout</a></p>
    </body>
</html>