<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/sign_in.css">
  <link rel="stylesheet" href="/stylee.css">
</head>

<body>
  <section id="header">
    <div class="header container">
      <div class="navbar">
        <div class="logo">
          <a href="/">
            <h1><span>S</span>noll</h1>
          </a>
        </div>
        <div class="searchbar">
          <input type="search" placeholder="Etkinlik Ara">
        </div>
        <div class="navlist">
          <div class="hb">
            <div class="bar"></div>
          </div>
          <ul>

            <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/profile">Giriş Yap</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
          
          </ul>
        </div>
      </div>
    </div>

  </section>


  <section id="category">
    <div class="category container">
      <div class="form">
        <form action="/auth/login" method="POST">
          <div class="flex-container">
            <h2
              style="text-align: center; font-size: x-large; margin-top: 5rem; font-family: 'Open Sans', sans-serif; ">
              Giriş Yap</h2>
            <div class="email">
              <label for="email"><b>Email</b></label>
              <input type="email" placeholder="Enter Email" id ="email" name="email" required>
            </div>
            <div class="password">
              <label for="password"><b>Şifre</b></label>
              <input type="password" placeholder="Enter Password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <!-- <label>
              <div class="remember" style="margin-bottom: 10rem;">
                <input type="checkbox" checked="checked" name="remember"> <b
                  style="font-size: small; padding-top:6px ; ">Beni Hatırla</b>
              </div>
            </label> -->
            <% if(message){ %>
              <h4 style="color : black ; background-color: rgba(238, 37, 37, 0.61); border: 2px solid black; max-width: 200px; margin-top: 3px;" ><%=message%></h4>
              <% } %>
          </div>
          <div class="write">
            <p> Hala hesabınız yok mu <a href="/register"
                style="color: black; font-weight: bold; text-decoration: underline;"> Kayıt ol ?</a></p>
        </form>
      </div>
    </div>
    </div>
    <% if(message){ %>
      <h4 class="alert alert-danger mt4"><%=message%></h4>
      <% } %>
  </section>
  <section id="footer">
    <div class="footerleft">
      <a href="index.html">
        <h1 style="color:white; font-size: 3rem;"><span style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll
        </h1>
      </a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat consequuntur
        vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum quaerat est.
        Velit, nostrum quae officia odio veniam animi
        exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
      <div class="socialmedia">
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
        </div>
      </div>
    </div>
    <ul class="footerright">
      <li>
        <h2>Kurumsal</h2>
        <ul class="box">
          <li><a href="/aboutus">Hakkımızda</a></li>
          <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
          <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
          <li><a href="/contactus">İletişim&Kariyer</a></li>
        </ul>
      </li>
      <li class="Find">
        <h2>Keşfet</h2>
        <ul class="box hbox">
          <li><a href="/events">Etkinlikler</a></li>
          <li><a href="/category">Kategoriler</a></li>
          <li><a href="/cityguide">Şehirler</a></li>
        </ul>
      </li>

    </ul>


    <div class="footerbottom">
      <p>Copyright © 2020 Snoll</p>
    </div>
  </section>
  <!-- End Footer Section -->
  <script src="/hb.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
</body>

</html>