<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footernavbarwotransition.css" />
    <link rel="stylesheet" href="ownerMain.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <title>Document</title>
  </head>

  <body>
    <section id="header">
      <div class="header container">
        <div class="navbar">
          <div class="logo">
            <a href="/">
              <h1><span>S</span>noll</h1>
            </a>
          </div>
          <div class="searchbar">
            <form method="POST" action="/filterEvent/searchbar">
              <input
                type="search"
                name="EventName"
                placeholder="Etkinlik Ara"
              />
            </form>
          </div>
          <div class="navlist">
            <div class="hb">
              <div class="bar"></div>
            </div>
            <ul>
              <li style="padding: 8px"><a href="/">Anasayfa</a></li>
              <li style="padding: 8px"><a href="/events">Etkinlikler</a></li>
              <li style="padding: 8px"><a href="/category">Kategoriler</a></li>
              <li style="padding: 8px"><a href="/cityguide">Şehir Turu</a></li>
              <li style="padding: 20px"><a href="/aboutus">Hakkımızda</a></li>
              <% if(loginn){ %>
              <li class="entrance" style="margin-right: 20px">
                <a href="/myCart"
                  ><i class="fas fa-shopping-cart"> Sepetim</i></a
                >
              </li>
              <li class="entrance" style="margin-right: 20px">
                <a href="/profile">Profilim</a>
              </li>
              <li class="entrance" style="margin-right: 20px">
                <a href="/logout">Çıkış Yap</a>
              </li>
              <% } else{ %>
              <li class="entrance" style="margin-right: 20px">
                <a href="/login">Giriş Yap</a>
              </li>
              <li class="entrance" style="margin-right: 20px">
                <a href="/register">Üye Ol</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->
    <section id="body">
      <div class="mainpart">
        <div class="design">
        <div class="mm">
          <div class="namep">
            <h3>Etkinlik Sahibi Anasayfasına Hoşgeldiniz</h3>
          </div>
          <div class="welcomep">
            <a href="/"><button>Anasayfaya Git</button></a>
            <a href="/ownerPanel"><button>Etkinlik Paneline Git</button></a>
          </div>
        </div>
        <div class="myEvents">
          <div class="title">
            <h3>Etkinliklerim</h3>
          </div>
          <% if(Event.length >0){%>
            <%Event.forEach(Event => { %>
          <div class="eventinfo">
            <div class="eventName">
            <h4>Etkinlik Adı: <%=Event.EventName%></h4>
          </div>
          <div class="eventDate">
            <h4>Etkinlik Tarihi: <%=Event.EventDate%></h4>
          </div>
          <div class="eventNo">
            <h4>Etkinlik No: <%=Event.EventNo%></h4>
          </div>
          </div>
          <% }) %> 
          <% } %> 
        </div>
      </div>
      </div>
    </section>
    <!-- Footer -->
    <section id="footer">
      <div class="footerleft">
        <a href="/">
          <h1 style="color: white; font-size: 3rem">
            <span style="color: rgb(73, 89, 230); font-size: 4rem">S</span>noll
          </h1>
        </a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          distinctio pariatur placeat consequuntur vel laborum molestiae, eos
          incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas
          eum quaerat est. Velit, nostrum quae officia odio veniam animi
          exercitationem. Nobis, hic. Praesentium provident eaque, dolorum
          dolore rem ullam id delectus quae?
        </p>
        <div class="socialmedia">
          <div class="socialitem">
            <a href="https://tr-tr.facebook.com"
              ><img
                src="https://img.icons8.com/plasticine/48/000000/facebook-new.png"
            /></a>
          </div>
          <div class="socialitem">
            <a href="https://twitter.com"
              ><img
                src="https://img.icons8.com/doodle/48/000000/twitter--v1.png"
            /></a>
          </div>
          <div class="socialitem">
            <a href="https://www.instagram.com/?hl=tr"
              ><img
                src="https://img.icons8.com/plasticine/50/000000/instagram-new.png"
            /></a>
          </div>
        </div>
      </div>
      <ul class="footerright">
        <li>
          <h2>Kurumsal</h2>
          <ul class="box">
            <li><a href="/aboutus">Hakkımızda</a></li>
            <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
            <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
            <li><a href="/contactus">İletişim&Kariyer</a></li>
          </ul>
        </li>
        <li class="Find">
          <h2>Keşfet</h2>
          <ul class="box hbox">
            <li><a href="/events">Etkinlikler</a></li>
            <li><a href="/category">Kategoriler</a></li>
            <li><a href="/cityguide">Şehirler</a></li>
          </ul>
        </li>
      </ul>

      <div class="footerbottom">
        <p>Copyright © 2020 Snoll</p>
      </div>
    </section>
    <!-- End Footer Section -->
    <script src="/hb.js"></script>
  </body>
</html>
