<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="privacypolicy.css">
    <link rel="stylesheet" href="footernavbarwotransition.css">
    <title>Privacy-Policy</title>
</head>
<body>
    <div class="wrapper">
     <!-- Header -->
   <section id="header">
    <div class="header container">
      <div class="navbar">
        <div class="logo">
           <a href="index.html"><h1><span>S</span>noll</h1></a>   
        </div>
        <div class="searchbar">
         <input type="search" placeholder="Etkinlik Ara">
        </div>
        <div class="navlist">
          <div class="hb"><div class="bar"></div></div>
          <ul>
          
            <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <% if(loginn){ %> 
            <li class="entrance" style="margin-right:20px ; "><a href="/profile">Profilim</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/logout">Çıkış Yap</a></li>
            <% } else{ %>
            <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
             <% } %>
           
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
   <!-- Policies Section -->
   <section id="Policy">
    <div class="containerpolicy" >
  
        <div class="content">
            <div class="title">
                <h1>Gizlilik  <span>&</span> Güvenlik <br> Politikası</h1>
            </div>
            <div class="Subtitle">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Pariatur optio iure voluptas deleniti?
                     Saepe deleniti nobis repellendus, illo labore consequuntur?</h3>
            </div>             
            <div class="PrivacyP">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum inventore ratione atque a fugit et. Eos aspernatur quae consequatur corrupti aliquid. Nam, qui culpa veritatis repudiandae cum excepturi animi illum esse repellendus, saepe voluptatem consequuntur debitis at, adipisci eligendi alias. Voluptatum praesentium unde fuga fugit dolor voluptatem, repellendus culpa quos a, ad ea tempora optio doloribus quae aspernatur minus nulla excepturi provident! Dolores deserunt quaerat expedita error nesciunt sequi nobis pariatur delectus asperiores quas qui fugit necessitatibus aspernatur, culpa alias ex praesentium laborum rerum reprehenderit. Culpa dolores itaque esse voluptas unde illum, rem est quia fugiat iusto necessitatibus inventore, dicta ratione? Ipsam repellendus illum ut! Illo impedit recusandae ducimus dolores consequuntur, delectus accusantium ex quasi eveniet, deserunt dignissimos? Neque saepe, quis facilis ut, animi, harum reiciendis nesciunt ipsum repellat dolor maxime voluptas officia aspernatur? Dicta minima asperiores voluptate quo deserunt eum similique impedit fugit voluptatibus provident ducimus, in sed iusto ipsam nam atque qui exercitationem, adipisci quaerat ut? Vel adipisci sint hic sed incidunt animi optio quisquam laudantium voluptate placeat, esse, mollitia ad nemo veniam nisi? Obcaecati pariatur quasi doloremque, quibusdam temporibus beatae voluptate ad eius animi dignissimos quo ducimus optio nesciunt praesentium mollitia eaque assumenda harum voluptatem laboriosam at? Harum vel cum reprehenderit, necessitatibus hic optio eum dolorum corrupti, reiciendis voluptatibus, modi odit repellat. Vero eveniet iusto facilis, totam amet, officia magni necessitatibus esse soluta ad maxime, aut tempora doloremque architecto. Repudiandae quibusdam doloribus esse commodi necessitatibus beatae, libero ea obcaecati atque cum non. Ad error quod sed, voluptatibus asperiores veniam neque libero eaque nobis saepe atque itaque officia tempora iste deleniti at consequatur sunt sapiente ducimus molestiae, nemo explicabo ab. Facilis delectus adipisci maiores? Labore eos, iusto quibusdam dicta a reiciendis velit tempora nam omnis temporibus quo. Totam sed vel soluta tempora minus nesciunt adipisci omnis porro distinctio dolore, placeat repudiandae! Ipsum omnis deleniti commodi necessitatibus officiis laudantium eaque voluptas accusamus repellat voluptatem, reprehenderit quos cum labore illo consequuntur ipsam magnam ex, ipsa earum facilis! Eligendi perspiciatis voluptatem sapiente, laborum, voluptate nobis perferendis ducimus culpa harum omnis vel, nihil autem quod hic voluptates deserunt aperiam veniam voluptatum quidem nesciunt. Sit facere incidunt ut veritatis odio tenetur ea odit architecto at similique voluptatum porro eaque suscipit fuga, dolorum debitis, expedita, minima sequi nisi eveniet atque ipsam mollitia! Porro temporibus, voluptas nisi inventore facilis odit voluptatem deleniti nostrum asperiores laudantium, ipsa aliquid vero pariatur, suscipit reprehenderit molestiae nesciunt. Quas corporis, quisquam suscipit accusamus distinctio soluta sed explicabo autem culpa magni nostrum! Iste sequi, animi beatae, dolor nisi accusantium laudantium nemo voluptatibus, rerum quam magni modi vitae distinctio sapiente reprehenderit assumenda recusandae a repellendus! Fugiat molestiae odit ullam laudantium ratione eos corporis maxime perspiciatis nihil, praesentium dolorem totam quaerat expedita deleniti, enim magni libero aliquid recusandae! Beatae perspiciatis suscipit aliquid aliquam voluptates veritatis quia commodi! Enim soluta blanditiis esse deserunt tenetur perspiciatis quia voluptatibus voluptatem distinctio molestiae quibusdam adipisci illo dolor error deleniti, accusamus id tempora ipsum similique commodi iure cumque totam voluptates reprehenderit! Neque asperiores fugiat adipisci itaque obcaecati, dignissimos non quasi cupiditate ratione quia eius exercitationem mollitia tempore distinctio commodi aspernatur laudantium harum laboriosam corporis. Perspiciatis autem repellat iure. Ipsa a necessitatibus aliquid cumque, quibusdam odit ut maiores veniam magnam non quaerat tenetur blanditiis voluptates. Voluptate tenetur, consectetur, harum esse ea voluptates delectus tempora fuga corporis ab aspernatur qui iste quasi odio! Iure ab repellat omnis esse eius, est, repellendus iste cupiditate quae voluptates, ducimus laboriosam. Quibusdam quaerat tempore id, iure quo quos dolorem consequuntur culpa quam ullam explicabo sequi rerum consectetur neque dignissimos dolore natus. Ducimus necessitatibus cum temporibus architecto, sunt, officiis, inventore possimus quae eius porro pariatur? Dolorem praesentium quibusdam nihil dolor ex, dignissimos molestias ipsam aliquam incidunt quisquam qui deleniti eius similique. Itaque explicabo earum quo, eius aut fugit ipsam minima blanditiis ullam non a laborum ratione sunt neque ab ipsa nostrum? Ipsa magni dicta maiores, voluptatibus quae nesciunt animi voluptas provident nobis corrupti voluptatum, sunt vero nisi totam, qui adipisci fugiat ipsum? Fugit repellendus, quaerat ipsa vel ab totam aliquam tenetur rerum. Officiis deleniti blanditiis labore voluptatum hic laboriosam adipisci repudiandae quo sequi mollitia! Labore voluptates, corporis fugiat culpa dolore beatae magni maxime sequi possimus, ullam doloribus nihil tempora incidunt eius exercitationem voluptas. Magnam eum perferendis vero eius veritatis beatae, voluptatem officiis recusandae ab. Odit sequi nam deleniti enim doloribus aliquam, ipsa fuga eveniet? Natus praesentium dolorum nisi, eligendi quod unde ea magnam ipsum commodi tempora atque aut possimus dolores! Cum aut illo neque, corrupti molestiae dignissimos voluptas ab ducimus harum? Harum corporis doloremque fuga dolore magni impedit unde laboriosam ut, ipsum, beatae dolorum vero recusandae, itaque voluptatum quod ab. Optio facilis laborum iure maiores perferendis culpa, dignissimos odit error natus repudiandae hic, officia laboriosam similique, nemo nulla autem quia numquam corporis doloremque est ipsam id? Alias assumenda doloribus odio facere tenetur repellendus neque delectus nemo, earum enim fugiat ipsam quis iusto modi aut nostrum adipisci aliquam repellat illo dolor, vel velit debitis natus nisi. Cupiditate, quae, quod nulla similique eos laboriosam libero soluta cum fuga aspernatur distinctio velit pariatur dolores ad commodi repellendus perspiciatis recusandae cumque minus suscipit id! Non, quasi. Aliquid quae expedita, doloribus sequi atque ad reiciendis officia suscipit ipsam tempora odio similique minima ab odit rerum exercitationem iusto nemo hic possimus praesentium. Iure animi dolorum corrupti, magnam pariatur blanditiis deserunt facilis voluptatem aliquam nobis est perferendis aspernatur, tempore sed omnis voluptatibus doloribus incidunt doloremque nisi officia in. Corporis, animi quam vitae voluptatibus esse quaerat incidunt est reiciendis aliquid itaque dolor sunt nihil laudantium ea id dolorem nulla eveniet harum iure maiores dignissimos unde iste sit culpa! Ipsa id, quidem autem, architecto sapiente ex velit libero maxime blanditiis enim eaque. Eaque, perspiciatis repellendus magni autem ipsa cumque nihil sit. Doloribus repudiandae alias, praesentium aperiam enim libero tempora culpa fuga sapiente doloremque, facilis, numquam adipisci vitae dolorem optio totam quaerat. Quidem quasi maiores, quos ducimus neque nam aliquam facilis, rem nihil consectetur explicabo! Unde quia esse dolorem optio. Eum neque ex ea molestiae velit alias laborum repellat perspiciatis odio. Rerum inventore necessitatibus odio.</p>
            </div>
            <div class="Subtitle">
                <h3><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Pariatur optio iure voluptas deleniti?
                     Saepe deleniti nobis repellendus, illo labore consequuntur?</h3></h3>
            </div>
           <div class="PolicyP">
            <ol>
                <li><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad quibusdam voluptatum nihil esse molestiae harum blanditiis incidunt eum soluta est provident, reiciendis voluptatem voluptatibus deserunt non impedit 
                  a ex libero culpa adipisci! Deserunt, autem? Sint, ullam necessitatibus! Sed, assumenda neque!</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa tempora nisi beatae alias? Labore ratione dignissimos quod repellendus! Culpa eaque laudantium, maxime sed repellendus modi rerum fugit aspernatur quam quis veniam dolore ut aperiam magnam in at sunt facere natus. Quis totam provident ipsum! 
                  Similique repudiandae at eaque, nihil natus cum, modi, incidunt ad eligendi placeat reprehenderit facilis earum consequatur.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis atque dolorem eos fuga, debitis voluptatem cum deleniti quod officia, excepturi obcaecati numquam! Ducimus consectetur aperiam iusto numquam repellendus modi maxime rerum ut explicabo. Ab eligendi pariatur vero, aut sapiente vel tempore, ex fuga nulla dolor esse eveniet iste vitae veritatis sint deserunt minima, numquam ratione laborum in! Saepe, voluptatibus repellat esse, eius nemo dolor ipsum aliquid repudiandae porro repellendus placeat.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo deleniti nisi possimus ut quidem fugit optio provident esse ab, voluptatum enim tempora a magni unde ipsam id asperiores facilis adipisci nesciunt recusandae culpa laudantium animi. Adipisci asperiores id laboriosam, commodi ratione modi porro ab minima consectetur blanditiis, rerum similique aut explicabo enim. Pariatur maiores temporibus ipsum tenetur repellendus at amet aperiam, unde blanditiis, cum cumque earum autem distinctio molestias a doloribus aut. Aut dolorem aliquam, molestias, provident, sit aperiam in ullam veniam id odit molestiae!</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio repellendus, eligendi iusto et doloremque ipsum veniam natus officia quas!</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam necessitatibus error earum officia, nostrum incidunt fugiat quos repellat accusantium minima eveniet culpa expedita libero nisi quisquam, saepe officiis dolorum voluptas! Necessitatibus, quia, sed omnis ipsa dicta optio ad nihil laborum nisi quibusdam repudiandae repellat nam.</p></li>
                <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum non error ipsam. Veniam exercitationem quidem laborum neque voluptates dolore fuga earum quam aliquam numquam incidunt reprehenderit similique veritatis, repudiandae placeat. Consectetur, cupiditate qui a voluptatem placeat aperiam pariatur dolor velit tempora vitae magni similique, fugit soluta minus eveniet atque laudantium aliquid! Possimus vero modi nesciunt.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime accusamus dignissimos sunt explicabo voluptate. Explicabo, voluptatibus deleniti commodi voluptates accusantium eligendi rem, magni perspiciatis enim maxime repudiandae possimus harum? Necessitatibus ad nemo enim hic, perferendis natus doloribus deserunt, fugiat, reprehenderit veritatis ea! Magni, sint est commodi debitis ab blanditiis quam, nesciunt repellat, enim nobis voluptatem voluptate. Consequuntur, ipsam! Omnis fuga quam animi, at repudiandae libero!.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio repellendus, eligendi iusto et doloremque ipsum veniam natus officia quas!</p></li>
                <li><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum iure deleniti dicta minus ad, quod at error dolorem exercitationem dignissimos suscipit. Illum, delectus fugit! Obcaecati nostrum minus, provident esse vero dolore corporis quidem omnis nemo.</p></li>
                <li><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, ratione harum. Ex sequi iusto optio aut dolores tempore iure rerum neque corrupti, odio dolor repellat magnam ea repellendus assumenda quasi adipisci quos corporis error. Temporibus magni quae ex, quis quasi et blanditiis dolor inventore quidem asperiores dicta cum repudiandae laboriosam? Possimus facere vero ipsa.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, sed praesentium.</p></li>
                <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at, tenetur natus mollitia asperiores quisquam doloribus quas eum laboriosam ut?</p></li>
            </ol>
           </div>
            
        </div>   
    </div>
            
  </section> 
  <!-- End Policies Section -->
  <!-- Footer -->
  <section id="footer">
    <div class="footerleft">
      <a href="#"><h1 style="color:white; font-size: 3rem; text-align:left;"><span style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll</h1></a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat consequuntur 
        vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum quaerat est.
         Velit, nostrum quae officia odio veniam animi 
        exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
        <div class="socialmedia">
          <div class="socialitem">
            <a href="#"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png"/></a>
          </div>
          <div class="socialitem">
            <a href="#"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png"/></a>
          </div>
          <div class="socialitem">
            <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png"/></a>
          </div>     
        </div>
      </div>         
         <ul class="footerright">
          <li>
            <h2>Kurumsal</h2>
            <ul class="box">
              <li><a href="/aboutus">Hakkımızda</a></li>
              <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
              <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
              <li><a href="/contactus">İletişim&Kariyer</a></li>
            </ul>
          </li>
          <li class="Find">
            <h2>Keşfet</h2>
            <ul class="box hbox">
              <li><a href="/events">Etkinlikler</a></li>
              <li><a href="/category">Kategoriler</a></li>
              <li><a href="/cityguide">Şehirler</a></li>
            </ul>
          </li>
           
          </ul>
        
        
   <div class="footerbottom">
   <p>Copyright © 2020 Snoll</p>
   </div>    
</section>
</div>
<!-- End Footer Section -->
<script src="/hb.js" ></script>
</body>
</html>