<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="footernavbarwotransition.css">
</head>
<body>
     <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="navbar">
        <div class="logo">
          <a href="index.html">
            <h1><span>S</span>noll</h1>
          </a>
        </div>
        <div class="searchbar">
          <input type="search" placeholder="Etkinlik Ara">
        </div>
        <div class="navlist">
          <div class="hb">
            <div class="bar"></div>
          </div>
          <ul>

            <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
                <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
                <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
                <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
                <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
                <% if(loginn){ %> 
                <li class="entrance" style="margin-right:20px ; "><a href="/profile">Profilim</a></li>
                <li class="entrance" style="margin-right:20px ;"><a href="/logout">Çıkış Yap</a></li>
                <% } else{ %>
                <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
                <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
                 <% } %>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  <!-- MidPage -->
  <section id="midpage">
     <div class="profilecontainer">
       <div class="profilepart">
           <div class="profileimage">
            <img src="https://img.icons8.com/ios/200/000000/gender-neutral-user.png"/>
           </div>
           <div class="information">
               <div class="boxp">
                <h3>İsim</h3> 
                <h4>Mert Berkan Akdeniz</h4>
               </div>
               <div class="boxp">
                <h3>Email</h3>
                <h4>mertakdeniz@outlook.com</h4>
               </div>
               <div class="boxp">
                <h3>Role</h3>
                <h4>Admin</h4>
               </div>

           </div>
       </div>
       <div class="ticketpart">
       
        <h3>Geçmiş Biletlerim</h3>
           
        <div class="boughtickets">
           
        
                <div class="ticketimg">
                    <img src="./images/aleyna.png" alt="">
                </div>
               <div class="ticketinfo">
                  <h4>Etkinlik Adı: Aleyna Tilki </h4>
                  <h4>Bilet No: 21453424523</h4>
                  <h4>Event No: 3123</h4>
                  <h4>Koltuk No: 23 </h4>
                  <h4>Rezerve Durumu: Evet</h4>
               </div>
            </div>
            <div class="boughtickets">
           
        
                <div class="ticketimg">
                    <img src="./images/aleyna.png" alt="">
                </div>
               <div class="ticketinfo">
                <h4>Etkinlik Adı:</h4>
                <h4>Bilet No:</h4>
                <h4>Event No:</h4>
                <h4>Koltuk No:</h4>
                <h4>Rezerve Durumu: Hayır</h4>
               </div>
            </div>
            <div class="boughtickets" style="border-bottom: none;">
           
        
                <div class="ticketimg">
                    <img src="./images/aleyna.png" alt="">
                </div>
               <div class="ticketinfo">
                <h4>Etkinlik Adı:</h4>
                <h4>Bilet No:</h4>
                <h4>Event No:</h4>
                <h4>Koltuk No:</h4>
                <h4>Rezerve Durumu: Hayır</h4>
               </div>
            </div>
       </div>
    
     </div>
</section>
  <!-- End MidPage -->

  <!-- Footer -->
  <section id="footer">
    <div class="footerleft">
      <a href="index.html">
        <h1 style="color:white; font-size: 3rem;"><span style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll
        </h1>
      </a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat consequuntur
        vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum quaerat est.
        Velit, nostrum quae officia odio veniam animi
        exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
      <div class="socialmedia">
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
        </div>
      </div>
    </div>
    <ul class="footerright">
      <li>
        <h2>Kurumsal</h2>
        <ul class="box">
          <li><a href="aboutus.html">Hakkımızda</a></li>
          <li><a href="privacypolicy.html">Gizlilik Politikası</a></li>
          <li><a href="Useragreement.html">Kullanıcı Sözleşmesi</a></li>
          <li><a href="contactus.html">İletişim&Kariyer</a></li>
        </ul>
      </li>
      <li class="Find">
        <h2>Keşfet</h2>
        <ul class="box hbox">
          <li><a href="events.html">Etkinlikler</a></li>
          <li><a href="category.html">Kategoriler</a></li>
          <li><a href="cityguide.html">Şehirler</a></li>
        </ul>
      </li>

    </ul>


    <div class="footerbottom">
      <p>Copyright © 2020 Snoll</p>
    </div>
  </section>
  <!-- End Footer Section -->
  <script src="/hb.js"></script>
</body>
</html>