<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sign_up.css">
    <link rel="stylesheet" href="/stylee.css">
</head>

<body>
    <section id="header">
        <div class="header container">
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                        <h1><span>S</span>noll</h1>
                    </a>
                </div>
                <div class="searchbar">
                    <input type="search" placeholder="Etkinlik Ara">
                </div>
                <div class="navlist">
                    <div class="hb">
                        <div class="bar"></div>
                    </div>
                    <ul>

                        <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="category">
        <div class="category container">
            <div class="signup__container">
                <div class="container__child signup__thumbnail">
                    <div class="thumbnail__content text-center">
                        <h1 class="heading--primary">Snoll'e Hoşgeldiniz.</h1>
                        <h2 class="heading--secondary">Heyecana hazır mısınız ?</h2>
                    </div>
                    <div class="signup__overlay"></div>
                </div>
                <div class="container__child signup__form">
                    <form action="/auth/register" method="POST">
                        <div class="form-group">
                            <label for="name">Adınız</label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Adınız"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="lastname">Soyadınız</label>
                            <input class="form-control" type="text" name="lastname" id="lastname"
                                placeholder="Soyadınız" required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="text" name="email" id="email" placeholder="Mail Adresiniz"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre</label>
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="********" required />
                        </div>
                        <div class="form-group">
                            <label for="passwordRepeat">Şifre Doğrulama</label>
                            <input class="form-control" type="password" name="passwordConfirm" id="passwordConfirm"
                                placeholder="********" required />
                        </div>
                        <div class="m-t-lg">
                            <ul class="list-inline">
                                <li>
                                    <input class="btn btn--form" type="submit" value="Kaydol" />
                                </li>
                                <% if(message){ %>
                                    <h4 style="color : black ; background-color: rgba(238, 37, 37, 0.61); border: 2px solid black; max-width: 200px; margin-top: 3px;" ><%=message%></h4>
                                    <% } %>
                                <li>
                                    <a class="signup__link" href="/login">Siteye zaten kayıtlıyım</a>
                                </li>
                                
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
    </section>
    </div>
    </section>

    <section id="footer">
        <div class="footerleft">
            <a href="index.html">
                <h1 style="color:white; font-size: 3rem;"><span
                        style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll
                </h1>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat
                consequuntur
                vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum
                quaerat est.
                Velit, nostrum quae officia odio veniam animi
                exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
            <div class="socialmedia">
                <div class="socialitem">
                    <a href="#"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
                </div>
                <div class="socialitem">
                    <a href="#"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
                </div>
                <div class="socialitem">
                    <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
                </div>
            </div>
        </div>
        <ul class="footerright">
            <li>
                <h2>Kurumsal</h2>
                <ul class="box">
                  <li><a href="/aboutus">Hakkımızda</a></li>
                  <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
                  <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
                  <li><a href="/contactus">İletişim&Kariyer</a></li>
                </ul>
              </li>
              <li class="Find">
                <h2>Keşfet</h2>
                <ul class="box hbox">
                  <li><a href="/events">Etkinlikler</a></li>
                  <li><a href="/category">Kategoriler</a></li>
                  <li><a href="/cityguide">Şehirler</a></li>
                </ul>
              </li>

        </ul>


        <div class="footerbottom">
            <p>Copyright © 2020 Snoll</p>
        </div>
    </section>
    <!-- End Footer Section -->
    <script src="/hb.js"></script>
</body>

</html>