<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Tebrikler</h2>
        <h3> </h3>
        <p style="font-size:20px;color:#5C5C5C;">Bilet alma işleminiz başarıyla gerçekleşti bilet bilgilerinizi   E-mail ile size yönlendirdik ayrıca profilim kısmından biletinize erişebilirsiniz. Snoll'un benzersiz dünyasını tercih ettiğniz işin teşekkür eder .İyi eğlenceler dileriz. </p>
        <a href="/profile" class="btn btn-success">  Profilim </a>
    <br><br>
        </div>
        
	</div>
</div>