<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Useragreement.css">
  <link rel="stylesheet" href="footernavbarwotransition.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>Privacy-Policy</title>
</head>

<body>
  <div class="wrapper">
    <!-- Header -->
    <section id="header">
      <div class="header container">
        <div class="navbar">
          <div class="logo">
            <a href="/index">
              <h1><span>S</span>noll</h1>
            </a>
          </div>
          <div class="searchbar">
            <form method="POST" action="/filterEvent/searchbar">
            <input type="search" name="EventName" placeholder="Etkinlik Ara">
        </form>
        </div>
          <div class="navlist">
            <div class="hb">
              <div class="bar"></div>
            </div>
            <ul>

              <li style="padding: 8px;"><a href="/">Anasayfa</a></li>
            <li style="padding: 8px;"><a href="/events">Etkinlikler</a></li>
            <li style="padding: 8px;"><a href="/category">Kategoriler</a></li>
            <li style="padding: 8px;"><a href="/cityguide">Şehir Turu</a></li>
            <li style="padding: 20px;"><a href="/aboutus">Hakkımızda</a></li>
            <% if(loginn){ %>
              <% if(adminn){ %>
                <li class="entrance" style="margin-right:20px ;"><a href="/adminMain">Admin</a></li>
                <% } if(ownerr){ %>
                <li class="entrance" style="margin-right:20px ;"><a href="/ownerMain">Owner</a></li>
                <% } %>
              <li class="entrance" style="margin-right:20px ;"><a href="/myCart"><i class="fas fa-shopping-cart"> Sepetim</i></a> </li> 
            <li class="entrance" style="margin-right:20px ; "><a href="/profile">Profilim</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/logout">Çıkış Yap</a></li>
            <% } else{ %>
            <li class="entrance" style="margin-right:20px ;"><a href="/login">Giriş Yap</a></li>
            <li class="entrance" style="margin-right:20px ;"><a href="/register">Üye Ol</a></li>
             <% } %>

            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Header -->
    <!-- Policies Section -->
    <section id="Useragreement">
      <div class="containeragreement">
        <div class="content">
          <div class="title">
            <h1>Kullanıcı Sözleşmesi</h1>
          </div>
          <div class="listA">
            <ul>
              <li>
                <h3>Madde 1</h3>
                <p>Firma, fiyatlar ve sunulan ürün ve hizmetler üzerinde değişiklik yapma hakkını her zaman saklı tutar. 
                  Firma, üyenin sözleşme konusu hizmetlerden, teknik arızalar dışında yararlandırılacağını kabul ve taahhüt eder.
                  Kullanıcı, sitenin kullanımında tersine mühendislik yapmayacağını ya da bunların kaynak kodunu bulmak veya elde etmek amacına yönelik herhangi bir başka işlemde bulunmayacağını aksi halde ve 3. Kişiler nezdinde doğacak zararlardan sorumlu olacağını, hakkında hukuki ve cezai işlem yapılacağını peşinen kabul eder. 
                  Kullanıcı, site içindeki faaliyetlerinde, sitenin herhangi bir bölümünde veya iletişimlerinde genel ahlaka ve adaba aykırı, kanuna aykırı, 3. Kişilerin haklarını zedeleyen, yanıltıcı, saldırgan, müstehcen, pornografik, kişilik haklarını zedeleyen, telif haklarına aykırı, yasa dışı faaliyetleri teşvik eden içerikler üretmeyeceğini, paylaşmayacağını kabul eder. Aksi halde oluşacak zarardan tamamen kendisi sorumludur ve bu durumda ‘Site’ yetkilileri, bu tür hesapları askıya alabilir, sona erdirebilir, yasal süreç başlatma hakkını saklı tutar. Bu sebeple yargı mercilerinden etkinlik veya kullanıcı hesapları ile ilgili bilgi talepleri gelirse paylaşma hakkını saklı tutar.
                  Sitenin üyelerinin birbirleri veya üçüncü şahıslarla olan ilişkileri kendi sorumluluğundadır.</p>
              </li>
              <li>
                <h3>Madde 2</h3>
                <p>Snoll’de yer alan ünvan, işletme adı, marka, patent, logo, tasarım, bilgi ve yöntem gibi tescilli veya tescilsiz tüm fikri mülkiyet hakları site işleteni ve sahibi firmaya veya belirtilen ilgilisine ait olup, ulusal ve uluslararası hukukun koruması altındadır. İşbu Site’nin ziyaret edilmesi veya bu Site’deki hizmetlerden yararlanılması söz konusu fikri mülkiyet hakları konusunda hiçbir hak vermez.
                  Site’de yer alan bilgiler hiçbir şekilde çoğaltılamaz, yayınlanamaz, kopyalanamaz, sunulamaz ve/veya aktarılamaz. Site’nin bütünü veya bir kısmı diğer bir internet sitesinde izinsiz olarak kullanılamaz. </p>
              </li>
              <li>
                <h3>Madde 3</h3>
                <p>Firma, site üzerinden kullanıcıların ilettiği kişisel bilgileri 3. Kişilere açıklamayacaktır. Bu kişisel bilgiler; kişi adı-soyadı, adresi, telefon numarası, cep telefonu, e-posta adresi gibi Kullanıcı’yı tanımlamaya yönelik her türlü diğer bilgiyi içermekte olup, kısaca ‘Gizli Bilgiler’ olarak anılacaktır.</p>
              </li>
              <li>
                <h3>Madde 4</h3>
                <p>Gizli Bilgiler, ancak resmi makamlarca usulü dairesinde bu bilgilerin talep edilmesi halinde ve yürürlükteki emredici mevzuat hükümleri gereğince resmi makamlara açıklama yapılmasının zorunlu olduğu durumlarda resmi makamlara açıklanabilecektir.</p>
              </li>
              <li>
                <h3>Madde 5</h3>
                <p>Kullanıcı, sadece tanıtım, reklam, kampanya, promosyon, duyuru vb. pazarlama faaliyetleri kapsamında kullanılması ile sınırlı olmak üzere, Site’nin sahibi olan firmanın kendisine ait iletişim, portföy durumu ve demografik bilgilerini iştirakleri ya da bağlı bulunduğu grup şirketleri ile paylaşmasına muvafakat ettiğini kabul ve beyan eder. Bu kişisel bilgiler firma bünyesinde müşteri profili belirlemek, müşteri profiline uygun promosyon ve kampanyalar sunmak ve istatistiksel çalışmalar yapmak amacıyla kullanılabilecektir.</p>
              </li>
              <li>
                <h3>Madde 6</h3>
                <p>Kullanıcı, doğru, eksiksiz ve güncel kayıt bilgilerini vermek zorundadır. Aksi halde bu Sözleşme ihlal edilmiş sayılacak ve Kullanıcı bilgilendirilmeksizin hesap kapatılabilecektir.
                  Kullanıcı, site ve üçüncü taraf sitelerdeki şifre ve hesap güvenliğinden kendisi sorumludur. Aksi halde oluşacak veri kayıplarından ve güvenlik ihlallerinden veya donanım ve cihazların zarar görmesinden Firma sorumlu tutulamaz.</p>
              </li>
              <li>
                <h3>Madde 7</h3>
                <p>Tarafların kontrolünde olmayan; tabii afetler, yangın, patlamalar, iç savaşlar, savaşlar, ayaklanmalar, halk hareketleri, seferberlik ilanı, grev, lokavt ve salgın hastalıklar, altyapı ve internet arızaları, elektrik kesintisi gibi sebeplerden (aşağıda birlikte "Mücbir Sebep” olarak anılacaktır.) dolayı sözleşmeden doğan yükümlülükler taraflarca ifa edilemez hale gelirse, taraflar bundan sorumlu değildir. Bu sürede Taraflar’ın işbu Sözleşme’den doğan hak ve yükümlülükleri askıya alınır.</p>
              </li>
              <li>
                <h3>Madde 8</h3>
                <p>Firma, dilediği zaman sitede sunulan hizmetleri ve işbu sözleşme şartlarını kısmen veya tamamen değiştirebilir. Değişiklikler sitede yayınlandığı tarihten itibaren geçerli olacaktır. Değişiklikleri takip etmek Kullanıcı’nın sorumluluğundadır. Kullanıcı, sunulan hizmetlerden yararlanmaya devam etmekle bu değişiklikleri de kabul etmiş sayılır.</p>
              </li>

            </ul>
          </div>
        </div>

    </section>
    <!-- End Policies Section -->
    <!-- Footer -->
    <section id="footer">
      <div class="footerleft">
        <a href="/">
          <h1 style="color:white; font-size: 3rem; text-align:left;"><span
              style="color: rgb(73, 89, 230)  ;font-size: 4rem;">S</span>noll</h1>
        </a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio pariatur placeat consequuntur
          vel laborum molestiae, eos incidunt est! Doloremque ea illo ratione sunt porro, earum voluptas eum quaerat
          est.
          Velit, nostrum quae officia odio veniam animi
          exercitationem. Nobis, hic. Praesentium provident eaque, dolorum dolore rem ullam id delectus quae?</p>
        <div class="socialmedia">
          <div class="socialitem">
            <a href="#"><img src="https://img.icons8.com/plasticine/48/000000/facebook-new.png" /></a>
          </div>
          <div class="socialitem">
            <a href="#"><img src="https://img.icons8.com/doodle/48/000000/twitter--v1.png" /></a>
          </div>
          <div class="socialitem">
            <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/instagram-new.png" /></a>
          </div>
        </div>
      </div>
      <ul class="footerright">
        <li>
          <h2>Kurumsal</h2>
          <ul class="box">
            <li><a href="/aboutus">Hakkımızda</a></li>
            <li><a href="/privacypolicy">Gizlilik Politikası</a></li>
            <li><a href="/Useragreement">Kullanıcı Sözleşmesi</a></li>
            <li><a href="/contactus">İletişim&Kariyer</a></li>
          </ul>
        </li>
        <li class="Find">
          <h2>Keşfet</h2>
          <ul class="box hbox">
            <li><a href="/events">Etkinlikler</a></li>
            <li><a href="/category">Kategoriler</a></li>
            <li><a href="/cityguide">Şehirler</a></li>
          </ul>
        </li>

      </ul>


      <div class="footerbottom">
        <p>Copyright © 2020 Snoll</p>
      </div>
    </section>
  </div>
  <!-- End Footer Section -->
  <script src="/hb.js"></script>
</body>

</html>