#adminPanel {
  position: relative;
  min-height: 100vh;
  padding: 110px 10% 20px 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(60deg, #313131 0%, #adadad 100%);
}
.eventspart {
  position: relative;
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.175rem;

  margin-bottom: 5rem;
}
.userpart {
  position: relative;
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.175rem;
  margin-bottom: 5rem;
}
.citypart {
  position: relative;
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.175rem;
  margin-bottom: 5rem;
}
.buttonpart {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
button[type="submit"] {
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 2px;
  outline: none;
}
button[type="submit"]:hover {
  background-color: black;
  color: white;
}
.showpart {
  margin: 5px;
  display: flex;
  justify-content: start;
  text-align: start;
  align-items: flex-start;
}
.showpart table {
  position: relative;
  font-size: 16px;
}
.showpart th {
  padding: 3px 15px 2px 15px;
  text-align: center;
  color: rgb(182, 182, 182);
}
.showpart td {
  padding: 3px 15px 2px 15px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 1200px) {
  #adminPanel {
    display: flex;
    flex-direction: column;
  }
  .eventspart {
    margin-bottom: 10px;
  }
  .userpart {
    margin-bottom: 10px;
  }
  .citypart {
    margin-bottom: 10px;
  }
}
.cities-text{
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 20px;
}
.cities-top{
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
}
.event-text{
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-left: 20px;
}
.event-top{
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
}
.event-text label{
  font-size: 20px;
  text-align: center;
}
.cities-text label{
  font-size: 20px;
  text-align: center;
}
