body{
    background-color: #355671;
}

.mid-part{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    color: #b7b7b7;
}

.top-part{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    border: solid 2px #d2d2d2;
    border-radius: 40px;
}

.top-left-part{
    display: flex;
    box-shadow: 5px 5px #888888;
    border-radius: 20px;
    margin: 2rem 0 2rem 2rem;
}

.top-left-part img{
    max-width: 30rem;
    border-radius: 20px;
    object-fit: cover;
}

.top-right-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem 2rem 5rem;
    text-align: justify;
}

.title{
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.description{
    display: flex;
}

.description p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
}

.bottom-part{
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    border: solid 2px #d2d2d2;
    border-radius: 40px;
}

.detail{
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
}

.bottom-title{
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.bottom-description{
    display: flex;
}

.bottom-description p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}