#body {
  min-height: 100vh;
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
}

.mainpart {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20rem;
}
.namep {
  margin: 3rem;
}
.welcomep {
  display: flex;
  flex-direction: column;
}
.namep h3 {
  font-size: 24px;
}
.mm {
  height: 30rem;
  background-color: white;
  border-radius: 1.175rem;
  border: 1px black solid;
  padding: 5rem;
}
button {
  margin-right: 2rem;
  padding: 8px;
  border-radius: 1.175rem;
  border: 1px black solid;
  cursor: pointer;
  background-color: #5481b3;
  font-size: 16px;
  color: white;
}
button:hover {
  opacity: 0.8;
}
.profilepart {
  display: flex;
  background-color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15rem;
  border-radius: 1.175rem;
  border: 1px solid;
  padding: 1px 0 35px 0;
  margin-right: 30rem;
  margin-bottom: 20rem;
}
.contain {
  display: flex;
  padding-top: 15rem;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  width: 100%;
}
.profilepart img {
  margin: 4rem 2rem 2rem 2rem;
  border-radius: 20%;
}

.information {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.boxp {
  display: flex;
  flex-direction: column;
  margin: 10% 0 5% 0;
}

.boxp h3 {
  font-size: 24px;
  border-bottom: 2px solid;
}

.boxp h4 {
  margin-top: 5%;
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.profileimage {
  display: flex;
  justify-content: center;
  text-align: center;
}
.myEvents{
  height: 50rem;
  background-color: white;
  border-radius: 1.175rem;
  border: 1px black solid;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.title{
  font-size: 24px;
  padding-bottom: 20px;
}
.design{
  display: flex;
  flex-direction: column;
}
.eventinfo{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding-top: 15px;
}
.eventDate{
  padding-right: 8rem;
  display: flex;
}
.eventName{
  padding-right: 8rem;
  display: flex;
}
.eventNo{
  display: flex;
}
.design{
  display: flex;
  flex-direction: column;
}