#Policy {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(60deg, #606468 0%, #7a8da3 100%);
}
.containerpolicy {
  display: flex;
  justify-content: center;
  text-align: start;
  margin: 20rem 20rem 20rem 20rem;
  background-color: white;
  border-radius: 1.175rem;
}
#Policy h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* Policy Section */
#Policy .title {
  margin: 5rem 0 5rem 0;
  letter-spacing: 1px;
  font-size: 24px;
}
#Policy .PrivacyP {
  padding-left: 10px;
  padding-right: 5px;
}
#Policy .Subtitle {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: rgb(114, 12, 32);
  letter-spacing: 0.5px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 5px;
  justify-content: center;
  text-align: center;
}
.content p {
  font-size: 18px;
  padding: 0 5rem 5rem 5rem;
  line-height: 30px;
}
.content ol {
  padding: 3.5rem;
  font-size: 18px;
}
#Policy .title span {
  font-style: italic;
  font-size: 35px;
}
#Policy .PolicyP {
  margin-bottom: 10px;
  margin-left: 10px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 18px;
}
.content {
  border-radius: 1.175rem;
}
/* End Policy Section */
