#midpage {
  position: relative;
  min-height: 100vh;
  padding: 65px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  background-size: cover;
}
.profilecontainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.profilepart {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-left: 2%;
  border-radius: 1.175rem;
  border: 1px solid;
  padding: 1px 0 35px 0;
}
.ticketpart {
  display: flex;
  margin-left: 10%;
  border-radius: 1.175rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border: 1px solid;
  width: 100rem;
  max-height: 80%;
}
.profilepart img {
  width: 25.8rem;
  margin: 4rem 2rem 2rem 2rem;
  border-radius: 20%;
}

.information {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10%;
}

.boxp {
  display: flex;
  flex-direction: column;
  margin: 10% 0 5% 0;
}

.boxp h3 {
  font-size: 24px;
  border-bottom: 2px solid;
}

.boxp h4 {
  margin-top: 5%;
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.profileimage {
  display: flex;
  justify-content: center;
  text-align: center;
}

.boughtickets {
  display: flex;
  border-bottom: 1px solid;
  width: 100%;
  justify-content: start;
  text-align: center;
  align-items: center;
}

.ticketimg {
  margin: 1rem 5rem 1rem 2rem;
}
.ticketimg img {
  border-radius: 1.175rem;
  border: 1px solid;
}
.ticketpart h3 {
  font-size: 24px;
  border-bottom: 2px solid;
  width: 100%;
  padding: 10px 0 10px 0;
}
.ticketinfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: flex-start;
  margin-top: 3%;
  margin-bottom: 3%;
}
.ticketinfo h4 {
  display: flex;
  width: 100%;
  font-size: 16px;
  margin: 5px 0 15px 0;
}
.tabs {
  display: flex;
  justify-content: center;
}
.tabs button {
  margin: 5px;
}
.rez-but{
  width: 10rem;
  height: 5rem;
  color: white;
  background-color: rgb(5, 5, 14);
  border: 2px solid black;
  border-radius: 1.175rem;
  padding: 5px;
  cursor: pointer;
}
.scroll{
  overflow: scroll;
  max-height: 65rem;
  width: 100rem;
}
