@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
::selection {
  background: gray;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 4rem;
  color: white;
}
.logo h1 span {
  font-size: 5rem;
  color: #1b73bb;
}
/* Header Section*/
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 7vh;
  background-color: rgba(43, 43, 43, 0.24);
  transition: 0.5s ease background-color;
}
.header .logo {
  margin-left: 4rem;
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
#header .navlist ul {
  list-style: none;
  position: absolute;
  background-color: rgb(25, 25, 25);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease left;
}
#header .navlist ul.active {
  left: 0%;
}
#header .navlist ul a {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  padding: 6px;
  display: block;
}
#header .hb {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;

  margin: 8px 5px;
}
#header .hb .bar {
  height: 2px;
  width: 25px;
  position: relative;
  background-color: white;
  z-index: -1;
}
input[type="search"] {
  width: 300px;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  border-bottom: 3px solid rgb(5, 5, 5);
  box-shadow: 2px 2px rgb(5, 5, 5);
  outline: none;
  font-size: 16px;
  background-color: rgba(43, 43, 43, 0.24);
  background-image: url("./images/icons8-search-40\ \(1\).png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="search"]:focus {
  width: 400px;
  color: white;
}
/* End Header Section */
/* Welcome Section */
.slider {
  display: flex;
  height: 95rem;
}
.img-slider {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slidertext {
  display: flex;
  left: 0;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  padding-left: 20rem;
  position: absolute;
  justify-content: flex-start;
}

.tett {
  display: block;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: transparent;
  animation: text_showback 0.5s ease forwards;
  animation-delay: 1s;
}
.tett span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #063366;
  animation: text_display 1s ease;
  animation-delay: 0.5s;
}
#welcome h3 {
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: transparent;
  animation: text_showback 1.5s ease forwards;
  animation-delay: 1.5s;
}
#welcome h3 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #063366;
  animation: text_display 1s ease;
  animation-delay: 1s;
}
.cta {
  background-position: center;
  transition: background 0.8s;
}
#welcome .cta:hover {
  background-image: linear-gradient(60deg, #963b2b 40%, #2c0e01 85%);
}

#welcome .cta {
  border: none;
  display: inline-block;
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  border-radius: 1.18rem;
}

/* End Welcome Section */
/* Category Section */
#category {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20rem;
  padding-right: 20rem;
}
.categorytext {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-top: 2px solid;
}
.containermid {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
  justify-content: center;
  text-align: center;
  background-color: rgb(248, 248, 248);
  border: 1px solid #555;
  border-bottom: 0;
  border-top: 0;
}
.categorypart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 20px 20px;
  margin: 3% 15% 2% 15%;
}
.citypart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 20px 20px;
  margin: 3% 15% 2% 15%;
}
.activity {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.activity img {
  width: 60%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 30rem;
  object-fit: cover;
  border-radius: 35%;
  border: 1px solid rgb(0, 0, 0);
}
.activity:hover img {
  opacity: 0.8;
  border-radius: 0;
  width: 100%;
}
.containermid h3 {
  font-size: 48px;
  letter-spacing: 3px;

  color: #062952;
}
.activity p {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
.row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.rowcontainer img {
  width: 20rem;
  border: 5px solid black;
  opacity: 1;
  margin-right: 5px;
  max-height: 11rem;
}
.rowcontainer:hover img {
  opacity: 0.8;
  border-radius: 0;
  width: 30rem;
  min-height: 20rem;
  margin: 0 5rem 0 5rem;
}
.rowtext {
  border-top: 2px solid black;
}
/* Footer */
#footer {
  background-image: linear-gradient(60deg, #063366 0%, #485564 100%);
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
}
.footer > * {
  flex: 1 100%;
}
.footerleft {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}
#footer h2 {
  font-size: 2rem;
}
#footer ul {
  list-style: none;
  padding-left: 0;
}
#footer li {
  line-height: 2em;
  margin: 2em 0;
}
#footer li a {
  font-size: 1.5rem;
  display: block;
}
.footerright {
  display: flex;
  flex-flow: row wrap;
}
.footerright > * {
  flex: 1 50%;
  margin-right: 1.5rem;
}
.box a {
  color: #999;
}
.footerleft p {
  padding-right: 20%;
}
.footerbottom {
  text-align: center;
  padding-top: 50px;
  margin-top: 15rem;
}
.footerleft p {
  padding-right: 20%;
}
#footer .socialmedia {
  display: flex;
  margin: 20px;
}
#footer .socialitem img {
  filter: grayscale(1);
  transition: 0.5s ease filter;
}
#footer .socialitem:hover img {
  filter: grayscale(0);
}
#footer p {
  font-size: 1rem;
  letter-spacing: 1px;
}
.footerright ul li a:hover {
  color: #570909;
}
/* End Footer */
/* keyframes */
@keyframes text_display {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_showback {
  100% {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .footerright > * {
    flex: 1;
  }
  .footerleft {
    flex: 1 0px;
  }
  .footerright {
    flex: 2 0px;
  }
}
@media screen and (min-width: 1200px) {
  #header .hb {
    display: none;
  }
  #header .navlist ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .navlist ul li {
    display: inline-block;
  }
  #header .navlist ul li a {
    font-size: 1.5rem;
  }
  #header .navlist ul li a:hover {
    background-color: rgba(43, 43, 43, 0.4);
    border-radius: 20%;
  }
  #header .entrance {
    background-color: #1b73bb;
    border-radius: 5%;
  }
}
